body {
    font-size: large;
    line-height: 1.3em;
    background-color: #0f172a;
    color: #dce1e7;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;

}

h1 {
    color: #4d77ff;
    font-size: 30px;
}

h2 {
    color: aquamarine;
    font-size: 20px;
}

img {
    width: 330px;
    height: auto;
    border-radius: 10%;

}





a {
    color: aqua
}

div.image {
    display: flex;
    justify-content: center;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image {

    display: flex;
    justify-content: center;
}

@media (min-width : 500px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    img {
        width: 400px;
        height: auto;
    }

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 23px;
    }
}

@media (min-width : 800px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }


}